.carousel-inner img {
  height: 40.19rem;
  object-fit: cover;
}

.carousel-caption {
  background: transparent;
  padding: 40px;
}

.fancy-font {
  font-family: 'Poppins', 'sans-serif';
  color: #eaebff;
  font-weight: 600;
  font-size: xx-large;
  padding: 20px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(96, 32, 46, 0.5);
}

.btn-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.animated-text2 {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 2s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text1 {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInDown 2s ease-in-out forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(40px);
  }
}

@media (max-width: 768px) {
  /* Applies styles when screen width is 768px or smaller */
  .carousel-inner img {
    height: 37.5rem;
    object-fit: cover;
  }

  .fancy-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: medium;
    padding: 30px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(96, 32, 46, 0.5);
  }
  .btn {
    width: 8rem;
  }
}
